## Settings file was created by plugin AutoMessage v1.0.0
## Plugin GUID: AutoMessage

[1. Randomize]

## true / false - Will scramble the order of messages displayed.
## Note that once it starts looping, that same order will persist.
## Thus it's not a true on-the-fly randomization.
# Setting type: String
# Default value: false
Randomize = true

[2. Title]

## The title text that will show above all the messages.
## Some symbols will automatically be preceded by a backslash after the game runs.
## This won't show in game and it's okay to omit them when typing
# Setting type: String
# Default value: AutoMessage
Title = AutoMessage

[3. Messages]

## Messages will be displayed in sequential order (unless 'randomize' is true) every time the lever is pulled to land, until they loop.
## Blank message entries will be skipped.
## Some symbols will automatically be preceded by a backslash after the game runs.
## This won't show in game and it's okay to omit them when typing
# Setting type: String
# Default value: Message 1
Message1 = hey hows it goin also did u know you start with 1000 credits ok bye

# Setting type: String
# Default value: 
Message2 = COOL METEOROLOGY FACT #9263: weather conditions award bonus credits waow (in real life and the game)

# Setting type: String
# Default value: 
Message3 = i literally made this plugin to yap while you load a moon i hope you\'re enjoying it

# Setting type: String
# Default value: 
Message4 = definitely DON\'T drink 8 casino beers btw this message sponsored by D.A.R.E.

# Setting type: String
# Default value: 
Message5 = you can teleport items/keys through an inverse, but not through a regular teleporter. nothin funny it\'s just true

# Setting type: String
# Default value: 
Message6 = i miss the pintoboy

# Setting type: String
# Default value: 
Message7 = funny prank: if you teleport a friend while they\'re taking a drink, they\'ll be muffled forever :)

# Setting type: String
# Default value: 
Message8 = :sadluna:

# Setting type: String
# Default value: 
Message9 = vanilla interiors only generate vanilla dungeons, custom entities will still spawn tho

# Setting type: String
# Default value: 
Message10 = did you know that erm uhhh umm er hmmmm

# Setting type: String
# Default value: 
Message11 = what if it doesn\'t load what if it\'s stuck forever

# Setting type: String
# Default value: 
Message12 = Sailfish, swordfish, and marlin are the fastest fish in the ocean, reaching speeds of up to 70mph, which is faster than the speed limits on most highways.

# Setting type: String
# Default value: 
Message13 = o_o

# Setting type: String
# Default value: 
Message14 = You have been selected to win a FREE iPod Nano!! To claim your prize, type in the game chat: UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU

# Setting type: String
# Default value: 
Message15 = i\'m running out of ideas for messages help

# Setting type: String
# Default value: 
Message16 = don't forget to hit the bell

# Setting type: String
# Default value: 
Message17 = You have been playing for {65535} hours and should have consumed at least {9,999,999}L of water to maintain optimal hydration!

# Setting type: String
# Default value: 
Message18 = (>-^.^-)> LOADING <(-^.^-<)

# Setting type: String
# Default value: 
Message19 = 

# Setting type: String
# Default value: 
Message20 = 

# Setting type: String
# Default value: 
Message21 = 

# Setting type: String
# Default value: 
Message22 = 

# Setting type: String
# Default value: 
Message23 = 

# Setting type: String
# Default value: 
Message24 = 

# Setting type: String
# Default value: 
Message25 = 

# Setting type: String
# Default value: 
Message26 = 

# Setting type: String
# Default value: 
Message27 = 

# Setting type: String
# Default value: 
Message28 = 

# Setting type: String
# Default value: 
Message29 = 

# Setting type: String
# Default value: 
Message30 = 

# Setting type: String
# Default value: 
Message31 = 

# Setting type: String
# Default value: 
Message32 = 

# Setting type: String
# Default value: 
Message33 = 

# Setting type: String
# Default value: 
Message34 = 

# Setting type: String
# Default value: 
Message35 = 

# Setting type: String
# Default value: 
Message36 = 

# Setting type: String
# Default value: 
Message37 = 

# Setting type: String
# Default value: 
Message38 = 

# Setting type: String
# Default value: 
Message39 = 

# Setting type: String
# Default value: 
Message40 = 

# Setting type: String
# Default value: 
Message41 = 

# Setting type: String
# Default value: 
Message42 = 

# Setting type: String
# Default value: 
Message43 = 

# Setting type: String
# Default value: 
Message44 = 

# Setting type: String
# Default value: 
Message45 = 

# Setting type: String
# Default value: 
Message46 = 

# Setting type: String
# Default value: 
Message47 = 

# Setting type: String
# Default value: 
Message48 = 

# Setting type: String
# Default value: 
Message49 = 

# Setting type: String
# Default value: 
Message50 = 

# Setting type: String
# Default value: 
Message51 = 

# Setting type: String
# Default value: 
Message52 = 

# Setting type: String
# Default value: 
Message53 = 

# Setting type: String
# Default value: 
Message54 = 

# Setting type: String
# Default value: 
Message55 = 

# Setting type: String
# Default value: 
Message56 = 

# Setting type: String
# Default value: 
Message57 = 

# Setting type: String
# Default value: 
Message58 = 

# Setting type: String
# Default value: 
Message59 = 

# Setting type: String
# Default value: 
Message60 = 

# Setting type: String
# Default value: 
Message61 = 

# Setting type: String
# Default value: 
Message62 = 

# Setting type: String
# Default value: 
Message63 = 

# Setting type: String
# Default value: 
Message64 = 

# Setting type: String
# Default value: 
Message65 = 

# Setting type: String
# Default value: 
Message66 = 

# Setting type: String
# Default value: 
Message67 = 

# Setting type: String
# Default value: 
Message68 = 

# Setting type: String
# Default value: 
Message69 = 

# Setting type: String
# Default value: 
Message70 = 

# Setting type: String
# Default value: 
Message71 = 

# Setting type: String
# Default value: 
Message72 = 

# Setting type: String
# Default value: 
Message73 = 

# Setting type: String
# Default value: 
Message74 = 

# Setting type: String
# Default value: 
Message75 = 

# Setting type: String
# Default value: 
Message76 = 

# Setting type: String
# Default value: 
Message77 = 

# Setting type: String
# Default value: 
Message78 = 

# Setting type: String
# Default value: 
Message79 = 

# Setting type: String
# Default value: 
Message80 = 

# Setting type: String
# Default value: 
Message81 = 

# Setting type: String
# Default value: 
Message82 = 

# Setting type: String
# Default value: 
Message83 = 

# Setting type: String
# Default value: 
Message84 = 

# Setting type: String
# Default value: 
Message85 = 

# Setting type: String
# Default value: 
Message86 = 

# Setting type: String
# Default value: 
Message87 = 

# Setting type: String
# Default value: 
Message88 = 

# Setting type: String
# Default value: 
Message89 = 

# Setting type: String
# Default value: 
Message90 = 

# Setting type: String
# Default value: 
Message91 = 

# Setting type: String
# Default value: 
Message92 = 

# Setting type: String
# Default value: 
Message93 = 

# Setting type: String
# Default value: 
Message94 = 

# Setting type: String
# Default value: 
Message95 = 

# Setting type: String
# Default value: 
Message96 = 

# Setting type: String
# Default value: 
Message97 = 

# Setting type: String
# Default value: 
Message98 = 

# Setting type: String
# Default value: 
Message99 = 

# Setting type: String
# Default value: 
Message100 =